{% extends 'MainBundle::layout.html.twig' %}

{% block layoutTitle %}
    Genel Yönetim Ekranı
{% endblock %}
{% block layoutTitleSmall %}
    Bu ekran sayesinde projeleriniz üyeleriniz ve ekipleriniz ile ilgili bazı kısa bilgilere ulaşabilirsiniz.
{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ path('main-page') }}"><i class="fa fa-dashboard"></i> Genel Bilgilendirme</a></li>
    </ol>
{% endblock %}

{% block tipTitle %}
    <p>Burası genel yönetim ekranıdır.Sizlere uygulama hakkında kısa bilgiler vererek doğru şekilde yönlendirmeye
        çalışır.</p>
{% endblock %}

{% block content %}
    Hello World!
{% endblock %}

{% block javascript %}

    <!--active navigation menu option-->
    <script type="text/javascript">
        $(document).ready(function () {
            var target_element = $('.sidebar-menu > #general-info');
            $(target_element).addClass('active');
        });
    </script>

{% endblock %}